
@{
    ViewData["Title"] = "Logical Operators";
}

<h2>Logical Operators</h2>

<p>In JavaScript, logical operators are used to test for true or false values. They become important later
    for conditional statements and loops. We will discuss what conditional statements and loops are in a
    later lesson, for now we will show you the main logical operators in JavaScript.</p>

<p>Here are the logical operators that will make the most sense to someone unfamiliar with programming</p>

<p>
    Greater than and less than function the same way that they normally would on a piece of paper.  If the statement using a greater than or less than function is correct, then its value is true.  Greater than or equal to and less than or equal to are also in JavaScript.

    Here is an example of these 4 kinds of statements:
</p>
<img src="~/images/js11.png" />
<p>
    We put them in something called an if statement, which we will cover in the next part.  What’s important is that you see the math expressions inside of the parentheses to see how they work.

    Next, we have the equality operator.  This one is very simple, because it’s just like an equals sign on a piece of paper.  If the left hand side and the right hand side are equal, then the value is true.  If they aren’t equal, then the result is false.  In JavaScript, the equality operator is represented with “==”.

    Here’s an example of the equality operator:
</p>
<img src="~/images/js12.png" />
<p>
    Just like there’s an equals sign in JavaScript, there’s a way to check and see if two things are not equal.  This works just like the equality operator, except it returns true if the statement is not correct.  The not equal operator looks like this: !=.

    Here are a few examples using the not equal operator:
</p>
<img src="~/images/js13.png" />

<div class="row">
    <div class="col-xs-6 col-md-10">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-controller="js" asp-action="Index"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
    </div>
    <div class="col-xs-6 col-md-2">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-controller="js" asp-action="jslesson4p2">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
</div>