
@{
    ViewData["Title"] = "How to use Variables";
}

<h2>How to use Variables</h2>

<p>
    Now that you know how to print things out, work with variables, and how to run your code, let’s learn how to do basic math!  In JavaScript, there are five basic math functions: add, subtract, multiply, divide, and modulo.  You probably already know about the first four, but you’ve probably never heard of modulo.  Modulo gives you the remainder after dividing, and is represented with a %.  Here’s an example: 3%2 will give you a 1 since the remainder after dividing three by two is one.  Order of operations matters, so be sure to use parentheses if you want to include more than one function in a line.

    Here’s how to use all five of the basic math functions in JavaScript.  We decided to store the result in a variable and display the variable, but you can also type a math expression into a print statement and it will display the result.
</p>
<img src="~/images/js10.png" />

<div class="row">
    <div class="col-xs-6 col-md-10">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-controller="js" asp-action="jslesson3p1"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
    </div>
    <div class="col-xs-6 col-md-2">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-controller="js" asp-action="jslesson3p3">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
</div>