
@{
    ViewData["Title"] = "Running your JavaScript code";
}

<h2>Running your JavaScript code</h2>

<p>
    Now that you’ve got your code written, it’s time to run it!  In order to run your JavaScript code, you have to display the HTML document that it’s written in.  Before you run any computer program, you have to save it.  You can save your file by pressing CTRL+S, or by clicking the SAVE button in the toolbar.  After your program is saved, you can run it.  If you’re using Notepad++, you can either click Run in the toolbar, or press F5 to open up the run window.  Click on run, and then select your .htm file.  Alternatively, you can drag your file into an empty tab on Google Chrome or Firefox, and it’ll open your new website.

    Look at these pictures and try to follow along:
</p>

<img src="~/images/js5.png" />
<img src="~/images/js6.png" />
<img src="~/images/js7.png" />
<p>
    Great job-you’ve just run your very first JavaScript program!  Next we’ll explain how this code works, then show you how to do some more stuff in JavaScript.
</p>

<div class="row">
    <div class="col-xs-6 col-md-10">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-controller="js" asp-action="jslesson2p3"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
    </div>
    <div class="col-xs-6 col-md-2">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-controller="js" asp-action="jslesson2p5">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
</div>