
@{
    ViewData["Title"] = "Creating and Editing Javascript";
}

<h2>Creating and Editing Javascript</h2>

<p>
    In order to write code, you need something called a text editor.  Most computers have at least one of these built in, but there are tons online for you to choose from!  Some editors work better for certain languages, and some editors are built for specific languages.

    For JavaScript, here are some editors that you can use:

    Notepad++
    Sublime Text Editor
    Atom

    (give logo and link to all three)

    For these lessons, we’re going to use Notepad++ because it’s easy to use and is a good text editor to learn on.  Notepad++ is not available for Mac computers, so we recommend that you use Sublime Text Editor instead if you’re using a Mac.


    Open up Notepad++ on your computer after it’s downloaded.  When it’s open, you’ll already be in a new file.  Go to file in the top left hand corner under the File label in the toolbar, and click Save As.
</p>
<img src="~/images/js1.png" />
<p>Name your new file home.htm, and save it wherever you like.  Since we’re writing JavaScript code we have to put it into an HTML file.  You can pick any HTML file name, but we’ll use home.htm for now.</p>
<img src="~/images/js2.png" />
<p>
    If you want to work on more JavaScript files, then create them by going to the File label again, and clicking on the New option.  Don’t forget to save!
</p>
<img src="~/images/js3.png" />
<p>Now you’ve got an HTML document open in your text editor and you’re ready to start coding!</p>

<div class="row">
    <div class="col-xs-6 col-md-10">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-controller="js" asp-action="Index"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
    </div>
    <div class="col-xs-6 col-md-2">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-controller="js" asp-action="jslesson2p2">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
</div>