
@{
    ViewData["Title"] = "Your first JavaScript code";
}

@section Scripts {
    <script src="~/js/jsty.js"></script>
}

<h2>Your First JavaScript Code</h2>

<p>
    Let’s start coding!  The first program that everybody does in a language is called a “Hello World” program.  A “Hello World” program is just a short program that prints out “Hello World” in whatever language you’re learning, and it’s used to show a little bit of how the language works.  Learning how to write a “Hello World” program is important for us because it’ll show you how to print things out onto the screen.  A line of code that is used to print something on the screen is called a print statement.  So, let’s write a “Hello World” program.
</p>
<p>
    Copy this code between your
    &lt;script&gt;
    tags:
</p>
<p>alert("Hello World");</p>
<p>
    Don’t worry about understanding what this code does just yet, we’ll explain that later.Just copy it down, and we’ll show you how to run it.
</p>
<h3>Try it Yourself!</h3>
<p>If you would like a little sample of how Javascript works without opening a new file, then use our interactive Javascript environment below. Remember to keep your Javascript between the &lt;script&gt; tags</p>

<div class="row">
    <div class="col-sm-5" height="200">
        <textarea id="inputBox" rows="20" cols="60">
<h3>Here is some HTML</h3>            
<p>Edit this text box with your HTML</p>
<script>
    alert("Hello World");
</script>
        </textarea>
    </div>
    <div class="col-sm-5" id="resultBox">

    </div>
</div>
<input type="button" id="runBtn" class="btn btn-primary" value="Run">

<div class="row">
    <div class="col-xs-6 col-md-10">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-controller="js" asp-action="jslesson2p2"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
    </div>
    <div class="col-xs-6 col-md-2">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-controller="js" asp-action="jslesson2p4">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
</div>
