
@{
    ViewData["Title"] = "What is JavaScript?";
}

<h2>What is JavaScript?</h2>
<p>
    JavaScript (often just called JS) is a programming language that is primarily used to add functionality to websites.  JS was created in 1995, and is one of three languages used to create websites.  JS is used to add functionality to websites so that users can interact with them.  JavaScript code is often written inside of another language called HTML.

    Here’s an example of some JavaScript code inside an HTML document:
</p>
<img src="~/images/jspic1.png" />
<p>
    Don’t worry about knowing what all of this means yet, just look at the file to see what JavaScript code looks like.  In the following lessons, you’re going to learn all about JavaScript and how to write your very own JavaScript code!
</p>
@*below is example code for links to next and previous pages in a lesson*@
<div class="row">
    <div class="col-xs-6 col-md-10">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-controller="js" asp-action="Index"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
    </div>
    <div class="col-xs-6 col-md-2">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-controller="js" asp-action="jslesson1p2">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
</div>