
@{
    ViewData["Title"] = "How does JavaScript work and how do I use it?";
}

<h1>How does JavaScript work and how do I use it?</h1>
<p>
    In the beginning, JavaScript was only used for web pages.  Since then, JS has been adapted to all sorts of stuff!  We’re going to be focusing on using JavaScript for web pages, but if you learn how to program JS for web pages, you can use the same code in other places where the computer can understand JS.

    When JavaScript is used for web pages, the JS code is found inside an HTML file.  Along with HTML and CSS, JavaScript is used to create almost all web pages on the internet.  If you’ve ever been to a website where you’ve been able to interact with the page, chances are that page had some JavaScript code on it.  HTML and CSS aren’t covered in these lessons, but there are other courses available on this website that you can learn about them from.

    Look at these pictures to get a better understanding of how the three languages work together:
</p>
<img src="~/images/htmlpic3.png" />
<img src="~/images/htmlpic4.png" />
<img src="~/images/htmlpic5.png" />
<p>
    HTML is the foundation and the structure of the house.  Without it, there would be no house at all!  CSS is the paint and other things added to make the house look nice.  Without it, the house would be boring and look bad.  JavaScript is the pipes and wiring in the house.  Without it, the house would be there and you could live in it, but there wouldn’t be very many things it could do.

    Using all three languages is important to make your websites interesting and fun, but in these lessons you’re only going to learn JavaScript.  So let’s get started!
</p>


<div class="row">
    <div class="col-xs-6 col-md-10">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-controller="js" asp-action="jslesson1p1"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
    </div>
    <div class="col-xs-6 col-md-2">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-controller="js" asp-action="jslesson1p3">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
</div>