
@{
    ViewData["Title"] = "Formatting and starting JavaScript";
}

<h2>Formatting and starting JavaScript</h2>

<p>
    Let’s get coding!

    You can’t code JavaScript in an HTML document without telling it that’s what you’re doing, so type the following code into your HTML file:
</p>
<img src="~/images/js4.png" />
<p>
    Don’t worry about understanding this code since it’s in HTML.  The important thing to note is that all of your JavaScript code has to go in between
    &lt;script&gt;and&lt;/script&gt;.

</p>

<div class="row">
    <div class="col-xs-6 col-md-10">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-controller="js" asp-action="jslesson2p1"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
    </div>
    <div class="col-xs-6 col-md-2">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-controller="js" asp-action="jslesson2p3">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
</div>