
@{
    ViewData["Title"] = "Conditional Statements - Switch";
}

<h2>Conditional Statements - Switch</h2>

<p>
    A switch statement is a special kind of statement that acts like an else if statement. 
    In a switch statement a variable or conditional case is looked at, and depending on that value, a programmer can
    execute different instructions. Switch statements are looped through indefinitely unless a break statement is put inside
    a case that is guaranteed to execute. This will become more clear with the picture example below.
    Switch statements are faster than all other conditional statements in JavaScript (as well as in all other languages).
</p>
<img src="~/images/js20.png" />


<div class="row">
    <div class="col-xs-6 col-md-10">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-controller="js" asp-action="jslesson5p1"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
    </div>
    <div class="col-xs-6 col-md-2">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-controller="js" asp-action="jslesson5p3">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
</div>