<h2>@TempData["Result"]</h2>

<div class="row">
    <div class="col-xs-6 col-md-2">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-area="" asp-controller="htmlcss" asp-action="index">Back to Lessons <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
</div>
