
@{
    ViewData["Title"] = "Using HTML and CSS";
}

<h1>
    How do they work, and how do I use them?
</h1>
<p>
    When CSS and HTML are used together, they are powerful tools used to create all web pages on the internet.  In addition, another language called JavaScript is used for many web pages.  JavaScript isn’t covered in these lessons, but lessons on JavaScript are also available on this site.  HTML is used to structure the web page and CSS is used to make the page look interesting, while JavaScript is used to add functionality.

    Look at these pictures to get a better understanding of how the three languages work together:

</p>
<img src="~/images/htmlpic3.png" />
<img src="~/images/htmlpic4.png" />
<img src="~/images/htmlpic5.png" />
<p>
    HTML is the foundation and the structure of the house.  Without it, there would be no house at all!  CSS is the paint and other things added to make the house look nice.  Without it, the house would be boring and look bad.  JavaScript is the pipes and wiring in the house.  Without it, the house would be there and you could live in it, but there wouldn’t be very many things it could do.

    Using all three languages is important to make your websites interesting and fun, but in these lessons you’re only going to learn HTML and CSS.  So let’s get started!
</p>

<div class="row">
    <div class="col-xs-6 col-md-10">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-area="" asp-controller="htmlcss" asp-action="htmlcsslesson1p2"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
    </div>
    <div class="col-xs-6 col-md-2">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-area="" asp-controller="htmlcss" asp-action="htmlcsslesson1p4">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
</div>

