
@{
    ViewData["Title"] = "htmlcsslesson5p1";
}

<h2>htmlcsslesson5p1</h2>

<div class="row">
    <div class="col-xs-6 col-md-10">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-area="" asp-controller="htmlcss" asp-action="index"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
    </div>
</div>

