
@{
    ViewData["Title"] = "Creating and editing an HTML document";
}

<h1>Creating and editing an HTML document</h1>
<p>
    In order to write code, you need something called a text editor.  Most computers have at least one of these built in, but there are tons online for you to choose from!  Some editors work better for certain languages, and some editors are built for specific languages.
</p>
<p>
    For HTML and CSS, here are some editors that you can use:
</p>
<ul>Notepad++</ul>
<ul>Sublime Text Editor</ul>
<ul>Atom</ul>
<p>
    For these lessons, we’re going to use Notepad++ because it’s easy to use and is a good text editor to learn on.  Notepad++ is not available for Mac computers, so we recommend that you use Sublime Text Editor instead if you’re using a Mac.
</p>
<p>
    Now, open up Notepad++ on your computer after it’s downloaded.  When it’s open, you’ll already be in a new file.  Go to file in the top left hand corner under the File label in the toolbar, and click Save As.
</p>
<img src="~/images/htmlpic6.png" />
<p>
    Name your new file home.htm, and save it wherever you like.  There are only three different titles that can be used as the home page for a website: home.htm, index.htm, and default.htm.  You can pick any of these, but we’ll use home.htm for now
</p>
<img src="~/images/htmlpic7.png" />
<p>
    If you want to work on more HTML files, then create them by going to the File label again, and clicking on the New option.  Don’t forget to save!
</p>
<p>
    Now you’ve got an HTML document open in your text editor and you’re ready to start coding!
</p>

<div class="row">
    <div class="col-xs-6 col-md-10">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-area="" asp-controller="htmlcss" asp-action="index"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
    </div>
    <div class="col-xs-6 col-md-2">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-area="" asp-controller="htmlcss" asp-action="htmlcsslesson2p2">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
</div>
