
@{
    ViewData["Title"] = "Try it yourself";
}

<h1>Try it Yourself</h1>
<p>
    Now it’s your turn!  Pull up your website that you’ve been working on, and let’s add to it.  Add a few comments to your page describing what each part of your code does.  This is very important to do so that if other people read your code they can understand what it does.

    Here’s an example of good commenting:
</p>
<img src="~/images/htmlpic25.png" />
<p>
    Add a few pictures to your website!  Be sure to include the file of the image that you’re using in your folder, and use &lt;img&gt; tags to make the computer display the photos.

    In addition to adding comments and images, try making a few extra HTML documents.  Simply follow the same steps that you did to create your first HTML document, but do it a few more times.  After you have a few files, use &lt;a&gt;
        tags to link them together with either text or images.

        After you get your code written, be sure to test it in a browser after saving.  You’re one step closer to building the website of your dreams!
</p>

<div class="row">
    <div class="col-xs-6 col-md-10">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-area="" asp-controller="htmlcss" asp-action="htmlcsslesson3p2"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
    </div>
    <div class="col-xs-6 col-md-2">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-area="" asp-controller="htmlcss" asp-action="htmlcsslesson3p4">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
</div>
