
@{
    ViewData["Title"] = "Linking your CSS document to your HTML document";
}

<h2>Linking your CSS document to your HTML document</h2>

<p>
    Now that you have a css document, you have to link it to your HTML.  To do so, include this line in the
    &lt;head&gt;
        of your HTML document:
</p>
<img src="~/images/css1.png">
<p>
        This is called a
        &lt;link&gt; tag, and it’s used to link files (such as CSS files) for the HTML document to reference.  You can have any number of
        &lt;link&gt; tags, so you can add additional CSS files if you want.  Be sure that you type the name of your file exactly into the
        &lt;link&gt; tag as it’s named in your folder.

        Now that your CSS file is linked, let’s write some CSS code!
</p>

<div class="row">
    <div class="col-xs-6 col-md-10">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-area="" asp-controller="htmlcss" asp-action="htmlcsslesson4p1"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
    </div>
    <div class="col-xs-6 col-md-2">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-area="" asp-controller="htmlcss" asp-action="htmlcsslesson4p3">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
</div>