
@{
    ViewData["Title"] = "More CSS Code Examples";
}

<h2>More CSS Code Examples</h2>

<p>
    Just like you can change the color of the text, there are lots of other things you can change about it.  For example, you can also change the size.  In order to change the size, you give the “font-size” element a value.  There are lots of different scales for how big to make the text, but we’re going to measure the text size in pixels, or px.


    Here’s an example of changing the text size:
</p>
<img src="~/images/css4.png" />
<p>
    Of course, you can change the size to be any value that you want, just change the number next to px.

    Now let’s learn how to change the background color.  Just like you can change the text color, you can also change the color of the background.  Selecting the color of the background is exactly the same as selecting the color of text, you just change which element you modify.  Instead of assigning a value to “color”, you assign a value to “background-color”.

    Here’s an example of changing the background color in CSS:
</p>
<img src="~/images/css5.png" />
<p>
    Now that you understand how to do a few simple things in CSS, try adding some color to the website that you’ve been building!  Try changing the size of your text on your webpage, and adding different colors to different tags.

    Here’s an example of some CSS code and HTML code with the web page that it produces:
</p>
<img src="~/images/css6.png" />
<img src="~/images/css7.png" />
<p>
    After you’ve finished typing your CSS code, be sure to save your document.  Afterwards, open your HTML document like you did in previous lessons.  If you’ve done everything correctly, then your web page should look a whole lot cooler!  After your next quiz, we’ll teach you about some more advanced concepts in CSS.
</p>

<div class="row">
    <div class="col-xs-6 col-md-10">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-area="" asp-controller="htmlcss" asp-action="htmlcsslesson5p1"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
    </div>
    <div class="col-xs-6 col-md-2">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-area="" asp-controller="htmlcss" asp-action="htmlcsslesson5p3">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
</div>