
@{
    ViewData["Title"] = "Your first HTML code";
}

<h1>Your first HTML code</h1>
<p>
    Now it’s time to finally write your own code!

    In between the head tags, type a title tag like the one below:
</p>
<img src="~/images/htmlpic10.png" />
<p>
    Whatever text you put in between these two tags will show up as the title for your tab in your computer’s browser.  Like this:
</p>
<img src="~/images/htmlpic11.png" />
<p>
    Whatever you put in between your body
    tags will show up on your web page.  By using the
    p
    tag, you can separate your text into paragraphs.  Look at this example below:
</p>
<img src="~/images/htmlpic12.png" />
<img src="~/images/htmlpic13.png" />
<p>Now it’s your turn!  Type something into your HTML document that you want to display on your web page.  Use as many p tags as you want like in the example to include as many paragraphs as you want.  Don’t forget to add your title!</p>

<div class="row">
    <div class="col-xs-6 col-md-10">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-area="" asp-controller="htmlcss" asp-action="htmlcsslesson2p2"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
    </div>
    <div class="col-xs-6 col-md-2">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-area="" asp-controller="htmlcss" asp-action="htmlcsslesson2p4">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
</div>
