
@{
    ViewData["Title"] = "What is CSS?";
}

<h1>What is CSS?</h1>
<p>
    CSS (or Cascading Style Sheets) are used to add things like color and design to your websites.  CSS was created in 1996 by two men named Hakon Wium Lie and Bert Bos.  CSS documents are linked to HTML documents in order to change the way that the HTML code looks when a computer reads it.  CSS is used in almost all web pages on the internet.  There is a way to add style directly in the HTML document using something called inline style sheets, but this is almost never done because it makes your code hard to read and it’s much easier to use CSS.

    Here’s an example of what a CSS file looks like:
</p>
<img src="~/images/htmlcsspic2.png" />
<p>
    Again, don’t worry about being able to read this just yet, just look at what a CSS file looks like.  You’ll learn how to write your own CSS in a few lessons, and how to make your websites look amazing!
</p>

<div class="row">
    <div class="col-xs-6 col-md-10">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-area="" asp-controller="htmlcss" asp-action="htmlcsslesson1p1"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
    </div>
    <div class="col-xs-6 col-md-2">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-area="" asp-controller="htmlcss" asp-action="htmlcsslesson1p3">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
</div>

