
@{
    ViewData["Title"] = "What is HTML?";
}

<h1>What is HTML?</h1>
<p>
    HTML5 (better known as just HTML) stands for Hypertext Markup Language, and is a computer language used for creating web pages.
    HTML was officially created in 1993 by a man named Tim Berners-Lee.  HTML creates the structure of web pages, and contains the building blocks for ALL websites. 
    HTML uses special formatting tools called tags to do this.
    Here’s an example of what an HTML file looks like:
</p>
<img src="~/images/htmlpic1.png" />
<p>
    Don’t worry about knowing what all of this means yet, just look at the file to see what HTML code looks like.  In these lessons, you’re going to learn all about HTML, and how to program your very own website!
</p>

<div class="row">
    <div class="col-xs-6 col-md-10">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-area="" asp-controller="htmlcss" asp-action="index"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
    </div>
    <div class="col-xs-6 col-md-2">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-area="" asp-controller="htmlcss" asp-action="htmlcsslesson1p2">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
</div>
