
@{
    ViewData["Title"] = "Formatting and starting an HTML document";
}

<h1>Formatting and starting an HTML document</h1>
<p>
    Let’s get coding!

    The computer can’t understand that this is an HTML document unless you tell it.  You do this in two ways: by saving the file with a name ending in .htm, and by starting the HTML document with a specific line of code.

    Add the line of code in the picture below:
</p>
<img src="~/images/htmlpic8.png" />
<p>
    Now that the computer knows what kind of file this is, we have to add a few more things.  Add the things in the picture below:
</p>
<img src="~/images/htmlpic9.png" />
<p>
    The html
    tags tell the computer that the code between these is html code, and it should be run as html code.  The code in the
head
        tag isn’t actually displayed on the page, but is used for things like linking files and telling the computer additional information about the file.  We won’t use the
        head
            tag for right now, but it’ll be very important later.  The
            body
                tag is very important as well, since whatever you put between these two tags will display on your page.  After you have all of these parts, you’re ready to start writing your own code!
</p>

<div class="row">
    <div class="col-xs-6 col-md-10">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-area="" asp-controller="htmlcss" asp-action="htmlcsslesson2p1"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
    </div>
    <div class="col-xs-6 col-md-2">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-area="" asp-controller="htmlcss" asp-action="htmlcsslesson2p3">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
</div>