
@{
    ViewData["Title"] = "Creating and editing a CSS document";
}

<h2>Creating and editing a CSS document</h2>

<p>
    Just like HTML, you need a text editor to write CSS code.  We will continue to use Notepad++ for CSS along with our HTML code.  If you’re using a Mac computer, you’ll have to use a different editor such as Sublime Text Editor.
</p>

<p>CSS is completely worthless if it’s not linked to an HTML document, so you should keep both your HTML document and your CSS document open in your text editor at the same time.  In addition, you’ll need to actually link the two documents in your code for them to work.  Don’t forget that since your HTML document is referencing the CSS that they need to be in the same folder.</p>


<p>
    For these lessons, we’re going to use Notepad++ because it’s easy to use and is a good text editor to learn on.  Notepad++ is not available for Mac computers, so we recommend that you use Sublime Text Editor instead if you’re using a Mac.

    Start out by making a new file, and name it whatever your web page’s name is, but instead of typing .htm type .css.  For example, the CSS document for your home.htm HTML file should be called home.css.  Be sure to save the file in the same folder as your HTML document that will reference it.
</p>
<p>
    Next, we’ll show you how to link your CSS document, before finally showing you how to write some CSS code!
</p>




<div class="row">
    <div class="col-xs-6 col-md-10">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-area="" asp-controller="htmlcss" asp-action="index"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
    </div>
    <div class="col-xs-6 col-md-2">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-area="" asp-controller="htmlcss" asp-action="htmlcsslesson4p2">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
</div>

