
@{
    ViewData["Title"] = "HTML/CSS Lesson 4 Quiz";
}

@section Scripts {
    <script src="~/js/htmlcsslesson5quiz.js"></script>
    <script src="~/js/html2canvas.js"></script>
}

<form asp-action="assessmentSubmission" id="htmlquiz5form" method="post">
    <input type="hidden" name="percentScore" id="percentScore" />
    <input type="hidden" name="assessmentName" id="assessmentName" />
</form>

<h2>Lesson 5 Quiz</h2>
<p>Click on one answer per question. Then click the submit button at the bottom of the page to grade your answers</p>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"></h3>
    </div>
    <div class="panel-body" id="questions">
        <p>1. Which one of these is text size measured in?</p>
        <ol>
            <li id="q1c1">lx</li>
            <li id="q1c2">px</li>
            <li id="q1c3">mx</li>
            <li id="q1c4">bx</li>
        </ol>
        <p>2. Which of these is used to change the text color?</p>
        <ol>
            <li id="q2c1">text-color</li>
            <li id="q2c2">text</li>
            <li id="q2c3">color-text</li>
            <li id="q2c4">color</li>
        </ol>
        <div class="row">
            <div class="col-sm-2">
                <input type="button" id="btnSubmit" class="btn btn-danger btn-lg" value="Submit" />
            </div>
        </div>
    </div>
    <div class="panel-body" id="results" style="display: none;">
        <h2>HTML/CSS Lesson 5 Test</h2>
        <h3>You got <span id="score"></span>/2 correct</h3>
        <h3>Question numbers missed: <span id="missed"></span></h3>
        <input type="button" id="btnPrint" class="btn btn-success btn-lg" value="Print" onclick="print()" />
    </div>
</div>


<div class="row">
    <div class="col-xs-6 col-md-10">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-area="" asp-controller="htmlcss" asp-action="htmlcsslesson5p2"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
    </div>
    <div class="col-xs-6 col-md-2">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-area="" asp-controller="htmlcss" asp-action="index">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
</div>