
@{
    ViewData["Title"] = "Tags in HTML";
}

<h1>Tags in HTML</h1>
<p>
    We’ve already talked about tags before, but let’s review what they are. A tag is a tool in HTML that is used to note a particular kind of element in a web page.  Everything in an HTML document goes inside of a tag.

    Most tags come in pairs like these:
</p>
<img src="~/images/htmlpic17.png" />
<p>
    You’re already familiar with these kinds of tags.  Tags like the title tag and

    tags you’ve used are examples of these kinds of tags.

    In addition to tags that have information that goes between them, there are tags that are self-closing.  Self-closing tags look like this:
</p>
<img src="~/images/htmlpic18.png" />
<br />
<p>
    You can nest tags, meaning that you can put tags inside of other tags.  In the next section, we’re going to go over a few different kinds of important tags.
</p>
<div class="row">
    <div class="col-xs-6 col-md-10">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-area="" asp-controller="htmlcss" asp-action="index"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
    </div>
    <div class="col-xs-6 col-md-2">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-area="" asp-controller="htmlcss" asp-action="htmlcsslesson3p2">Next <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
</div>