<h2>Lessons for HTML/CSS</h2>
<div class="row">
    <div class="col-md-6">
        <a class="btn btn-success btn-large btn-block btn-primary-spacing app-brand" asp-controller="htmlcss" asp-action="htmlcsslesson1p1">Lesson 1</a>
        <a class="btn btn-success btn-large btn-block btn-primary-spacing app-brand" asp-controller="htmlcss" asp-action="htmlcsslesson2p1">Lesson 2</a>
        <a class="btn btn-success btn-large btn-block btn-primary-spacing app-brand" asp-controller="htmlcss" asp-action="htmlcsslesson3p1">Lesson 3</a>
        <a class="btn btn-success btn-large btn-block btn-primary-spacing app-brand" asp-controller="htmlcss" asp-action="htmlcsslesson4p1">Lesson 4</a>
        <a asp-controller="kindergarten" asp-action="htmlcsslesson5p1" class="btn btn-success btn-large btn-block btn-primary-spacing app-brand">Lesson 5</a>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-10">
        <a class="btn btn-success btn-primary-spacing app-brand" asp-area="" asp-controller="home" asp-action="Index"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
    </div>
</div>