
@{
    ViewData["Title"] = "LoginFailure";
}

<h2>LoginFailure</h2>
<hr />

<div>
    Apologies, there was an error logging in. Please ensure you entered your information correctly. 
</div>

<div>
    <a asp-action="Login">Back to Login</a>
</div>


