@{
    ViewData["Title"] = "LoginSuccess";
}

<h2>LoginSuccess</h2>
<hr />

<div>
    Login Success! Welcome to CodePyramid.
</div>

<div>
    @Html.ActionLink("Head to Homepage", "Index", "Home", null, null)
</div>