@{
    ViewData["Title"] = "RegistrationFailure";
}

<h2>Registration Failure!</h2>
<hr />

<div>
    We've encountered an issue with your registration. Please try registering again, and be mindful of the following:
    <ul>
        <li>
            The username cannot already be in use.
        </li>
        <li>
            The password must be between 6 and 100 characters.
        </li>
        <li>
            Your confirmation password must match the original.
        </li>
    </ul>
</div>


<div>
    <a asp-action="Register">Back to Registration</a>
</div>

