
@{
    ViewData["Title"] = "RegistrationSuccess";
}

<h2>RegistrationSuccess</h2>
<hr />

<div>
    Congratulations! Your account has been set up. Welcome to CodePyramid.
</div>

<div>
    <a asp-action="Login">Go to Login</a>
</div>