@{
    ViewData["Title"] = "RegistrationFailure";
}

<h2>Registration Failure!</h2>
<hr />

<div>
    We've encountered an issue with your registration. This username is likely taken. Please try registering again, with a new username. 
</div>

<div>
    <a asp-action="Register">Back to Registration</a>
</div>

