@{
    ViewData["Title"] = "Learn to Code for Free | Math Pyramid";
    ViewData["Description"] = "Math Pyramid features free online lessons, practices, and quizzes where you can learn how to code.";
}

<div class="row">
    <div class="col-md-pull-7">
        <h1>Learn How to Code for Free</h1>
        <img class="center-block" src="~/images/codePyramidLogo.jpeg" width="500" height="500" />
        <p class="app-p">
            Welcome to CodePyramid.
            You will find a variety of resources here including coding instruction and practice.
            Our focus is to help kids have fun learning to code. Learning to code can be fun
            and easy by practicing online.
        </p>

    </div>
</div>
<div class="row">
</div>

