@model CodePyramidv1.ViewModels.ProgressAndAssessmentViewModel
<h2>My Account</h2>

<h3>Lesson Progress:</h3>
<ul>

    @try
    {
        @foreach (String lesson in Model.CompletedLessons)
        {
            <li>
                @lesson
            </li>
        }
    }
    catch(Exception)
    {
        <li>
            Looks like you haven't completed any lessons!
        </li>
    }

</ul>

<h3>Quiz Scores:</h3>
<ul>
    @try
    {
        @foreach (KeyValuePair<string, Int16> entry in Model.AssessmentScores)
        {
            <li>
                @entry.Key: @entry.Value%
            </li>
        }
    }
    catch (Exception)
    {
        <li>
            Looks like you haven't completed any assessments!
        </li>
    }
</ul>

